#docker config
CONTAINER_NAME="container_name"

# DB config
DB_USER="username_db"
DB_PASSWORD="password_db"
DB_NAME="database_name"
DB_HOST="127.0.0.1"
DB_PORT="5432"

# Prisma config
DB_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?schema=public"

# JWT config
JWT_SECRET="your_secret"
JWT_REFRESH_SECRET="your_secret_refresh"